<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-6">
        <div class="panel panel-default panel-table">
          <div class="panel-heading panel-heading-no-divider">Projets<span class="panel-subtitle">Liste des projets initiés</span></div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Libelle</th>
                      <th>Description</th>
                      <th>Etat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let oneproject of projects" (click)="showProject(oneproject.id)">
                      <td>{{oneproject.id}}</td>
                      <td>{{oneproject.libelle}}</td>
                      <td>{{oneproject.description}}</td>
                      <th>{{oneproject.etat}}</th>
                    </tr>
                  </tbody>
                </table>
                <br>
                <h5>Détails</h5>
                <div class="form-group">
                    <div>
                      <label class="control-label" for="id">Id</label>
                      <input id="id" class="form-control" type="text">
                    </div>
                  <div>
                    <label class="control-label" for="libelle">Libelle</label>
                    <input id="libelle" class="form-control" type="text">
                  </div>
                  <div>
                    <label class="control-label" for="etat">Etat</label>
                    <select id="etat" class="form-control">
                      <option value="a faire">A Faire</option>
                      <option value="en cours">En Cours</option>
                      <option value="terminé">Terminé</option>
                    </select>
                  </div>
                  <div>
                    <label class="control-label" for="estimation">Estimation</label>
                    <input id="estimation" class="form-control" type="text">
                  </div>
                  <div>
                    <label class="control-label" for="description">Description</label>
                    <textarea id="description" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-no-divider">Tâches projet<span class="panel-subtitle">Plus d'info sur un projet spécifique </span></div>

              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Libelle</th>
                      <th>Description</th>
                      <th>Estimation</th>
                      <th>Etat</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="project != null">
                    <tr *ngFor="let tache of project.taches">
                      <td>{{tache.id}}</td>
                      <td>{{tache.libelle}}</td>
                      <td>{{tache.description}}</td>
                      <td>{{tache.estimation}}</td>
                      <td>{{tache.etat | uppercase}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
